// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Cobalt
//  Base > Variables
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

:root {
  --black:                               theme(colors.black);
  --white:                               theme(colors.white);

  --primary-brand:                       theme(colors.brand-primary);
  --secondary-brand:                     theme(colors.brand-secondary);
}

@custom-media --retina (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
