// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Cobalt
//  Variables > Base
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

:root {
  --black:                               #000;
  --white:                               #fff;

  --primary-brand:                       #03A9F4;
  --secondary-brand:                     #FF9800;

  --dark-text-color:                     #191E34;
  --medium-text-color:                   #5F6477;
  --light-text-color:                    #A7AAB8;

  --link-color:                          #5677FC;

  --font-family:                           Helvetica, Arial, sans-serif;
  --light-font-weight:                     300;
  --regular-font-weight:                   400;
  --semibold-font-weight:                  600;
  --bold-font-weight:                      700;

  --z-index-1:                             1000;
  --z-index-2:                             900;
  --z-index-3:                             800;
  --z-index-4:                             700;
  --z-index-5:                             600;
  --z-index-6:                             500;
  --z-index-7:                             400;
  --z-index-8:                             300;
  --z-index-9:                             200;

  --large-wrapper:                         1340px;
  --standard-wrapper:                      1040px;
  --small-wrapper:                         940px;

  --mobile-edge:                           20px;

  --transition-default:                    200ms;
}



//
// PostCSS Responsive Queries
//
@custom-media --xxl-bp (max-width: 1440px);
@custom-media --xl-bp  (max-width: 1200px);
@custom-media --l-bp   (max-width: 992px);
@custom-media --m-bp   (max-width: 768px);
@custom-media --s-bp   (max-width: 580px);
@custom-media --xs-bp  (max-width: 480px);
@custom-media --xxs-bp (max-width: 380px);

@custom-media --xxl-min-bp (min-width: 1440px);
@custom-media --xl-min-bp  (min-width: 1200px);
@custom-media --l-min-bp   (min-width: 992px);
@custom-media --m-min-bp   (min-width: 768px);
@custom-media --s-min-bp   (min-width: 580px);
@custom-media --xs-min-bp  (min-width: 480px);
@custom-media --xxs-min-bp (min-width: 380px);



//
// For SCSS
//
// $xxs-screen:                            380px !default;
// $xs-screen:                             480px !default;
// $sm-screen:                             768px !default;
// $md-screen:                             992px !default;
// $lg-screen:                             1200px !default;
// $xl-screen:                             1440px !default;