// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Cobalt
//  Variables > Base
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

:root {
  --black:                               #000;
  --white:                               #fff;

  --primary-brand:                       #f00;
  --secondary-brand:                     #00f;

  --dark-text-color:                     #000;
  --medium-text-color:                   #444;
  --light-text-color:                    #999;

  --link-color:                          #00f;
}