{% set pageTitle = "Cobalt Build Framework" %}
{% set pageDescription = "" %}
{% extends "_layout/base.njk" %}
{% block main %}

  <div class="container">
    Welcome to Cobalt
  </div>

{% endblock %}
