{% set pageTitle = "Cobalt Build Framework" %}
{% set pageDescription = "" %}
{% extends "_layout/base.njk" %}
{% block main %}

  Welcome to Cobalt

  <div class="test">
    test
  </div>

{% endblock %}
