// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Cobalt
//  Core > Typography Helpers
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

.h-h1 {
  font-size: 40px;
  line-height: 50px;
}

.h-h2 {
  font-size: 36px;
  line-height: 46px;
}

.h-h3 {
  font-size: 32px;
  line-height: 42px;
}

.h-h4 {
  font-size: 28px;
  line-height: 38px;
}

.h-h5 {
  font-size: 24px;
  line-height: 34px;
}

.h-h6 {
  font-size: 20px;
  line-height: 30px;
}



//
// Body Copy sizes
//
.h-small-text {
  font-size: 12px;
  line-height: 18px;
}

.h-medium-text {
  font-size: 14px;
  line-height: 22px;
}

.h-default-text {
  font-size: 16px;
  line-height: 24px;
}

.h-large-text {
  font-size: 18px;
  line-height: 26px;
}



//
// Font Weights
//
.h-light-font-weight {
  font-weight: var(--light-font-weight);
}

.h-semibold-font-weight {
  font-weight: var(--semibold-font-weight);
}

.h-bold-font-weight {
  font-weight: var(--bold-font-weight);
}



//
// Colors
//
.h-white-text-color {
  color: var(--white);
}

.h-dark-text-color {
  color: var(--dark-text-color);
}

.h-medium-text-color {
  color: var(--medium-text-color);
}

.h-light-text-color {
  color: var(--light-text-color);
}

.h-primary-text-color {
  color: var(--primary-brand);
}