// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Cobalt
//  Components > Icons
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

.c-small-icon {
  @include size(24px);

  &--dark {
    fill: var(--dark-text-color);
  }

  &--white {
    fill: var(--white);
  }

  &--primary {
    fill: var(--primary-brand);
  }

} // c-small-icon