// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  App Layout
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++


//
// Main Wrapper
//
._wrapper {

  width: $wrapper-width;
  margin: 0 auto;

  @include max-screen($wrapper-width + 40) {
    width: 100%;
    padding: 0 20px;
  }

} // _wrapper
