// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Cobalt
//  Library > Responsive
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

//
// Mobile & Desktop Hide Helpers
//
.h-xxl-hide { @media (--xxl-bp) { display: none; }}
.h-xl-hide  { @media (--xl-bp) { display: none; }}
.h-l-hide   { @media (--l-bp) { display: none; }}
.h-m-hide   { @media (--m-bp) { display: none; }}
.h-s-hide   { @media (--s-bp) { display: none; }}
.h-xs-hide  { @media (--xs-bp) { display: none; }}
.h-xxs-hide { @media (--xxs-bp) { display: none; }}


//
// For SCSS
//
// .h-xl-hide  { @include bp(xl) { display: none !important; }}
// .h-l-hide   { @include bp(l) { display: none !important; }}
// .h-m-hide   { @include bp(m) { display: none !important; }}
// .h-s-hide   { @include bp(s) { display: none !important; }}
// .h-xs-hide  { @include bp(xs) { display: none !important; }}
// .h-xxs-hide { @include bp(xxs) { display: none !important; }}